---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

    <a href="/">Home</a>
   <a href="/about/">About</a>
   <a href="/blog">Blog</a>

		<h1>About Suzza</h1>
    <p>Hello! I’m Suzza and I’m the writer with the mathematical muse. </p>
    <p>Strange, right?</p>
    <p> So often we’re told that we’re either good at Math or English. </p>
    <p>For some reason pursuing both seems a bit out of the ordinary.</p>
    <p> I fell in love with mathematics as a kid but we are an unlikely pair.</p>
	</body>
</html>