---
   const pageTitle = "Suzza's Blog";
   import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle={pageTitle}>
     <p>This is where I will post about my journey learning Astro.</p>
  </BaseLayout/>

     